/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}

#footer-custom{
	background-color: #1b1b1b;
	color: #fff;
	margin-bottom: 0px;
}

.navbar-fixed-top{
	background-color:#1b1b1b;
}


